extends layout 

block content 
    h1 Delete Book 
    p Would you like to remove <strong>#{book.title}</strong> from the Library?
    p.error Warning: This action is permanent

    form(action='/books/' +book.id +'/delete', method='post')
        a(href='/' class="button") Cancel 
        input(type='submit' value='Confirm Deletion' class='button')