extends layout 

block content 
    h1 Page Not Found 
    p Unable to find the page you were looking for 
    br
    p 
        a(href='/' class="button") Back to Library
    br
    img.round(src='/images/koda-sad.png')